* {
  margin: 0;
  padding: 0;
  font-family: "Microsoft JhengHei", Arial, Helvetica, sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

header,
main,
div.nav {
  max-width: 920px;
  margin: 0 auto;
}

header .banner {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}
header .banner .logo img {
  width: 220px;
  height: 40px;
}

header .banner ul {
  display: flex;
  width: 270px;
  justify-content: space-between;
}
header .banner ul li {
  list-style: none;
}
header .banner ul li a {
  text-decoration: none;
  color: #3f5d45;
  font-weight: 600;
  display: block;
}
header .banner ul li a:hover {
  color: #ffe180;
  border-bottom: 5px solid #ffe180;
  font-size: 24px;
}
header .bannerimg {
  display: flex;
  justify-content: center;
  width: 920px;
  height: auto;
}
main {
  display: flex;
  margin-top: 50px;
  justify-content: space-between;
}

main .category ul li {
  width: 300px;
  border: 1px solid #eaf0ed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

main .category ul li a {
  font-weight: 600;
  font-size: 24px;
  text-decoration: none;
  display: block;
}
main .category li.main {
  background-color: #3f5d45;
}
main .category li.main a {
  color: #eaf0ed;
}
main .category ul li.sort {
  background-color: #ffffff;
}
main .category ul li.sort:hover {
  background-color: #eaf0ed;
}
main .category ul li.sort a {
  color: #3f5d45;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.content .card {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.content .card .photo {
  display: flex;
  position: relative;
}
.content .card .photo img {
  z-index: -1;
}
.content .card .photo span {
  padding: 10px;
  position: absolute;
  left: 20px;
  background-color: #3f5d45;
  width: 36px;
  padding: 5px;
  padding-top: 10px;
  color: #eaf0ed;
  text-align: center;
  font-weight: 600;
}
.content .card .photo img.love {
  z-index: 1;
  position: absolute;
  right: 20px;
  top: 20px;
}

.content .card .info {
  display: flex;
  font-size: 20px;
  color: #3f5d45;
  text-align: center;
  border: 1px solid #eaf0ed;
  padding: 14px 0px;
}

.content .card .info .name {
  width: 172px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #eaf0ed;
}
.content .card .info .price {
  width: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content .card .add {
  background: #eaf0ed;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0px;
}

.content .card .add {
  color: #3f5d45;
  text-decoration: none;
  font-size: 24px;
  font-weight: 600;
}
.content .card .add a:hover {
  border-bottom: 3px solid #3f5d45;
}
.nav {
  display: flex;
  justify-content: flex-end;
  max-width: 920px;
  margin: 0 auto;
}
.nav ul {
  display: flex;
  margin-top: 10px;
  margin-bottom: 76px;
}
.nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 1px solid #eaf0ed;
}
.nav ul li:hover {
  background: #eaf0ed;
}
.nav ul li.active {
  background-color: #3f5d45;
  color: #eaf0ed;
}

.nav ul li a {
  display: block;
  color: #3f5d45;
  text-decoration: none;
  font-weight: 600;
}
.nav ul li.active a {
  background-color: #3f5d45;
  color: #eaf0ed;
}
footer .email {
  height: 116px;
  display: flex;
  background: #3f5d45;
  justify-content: space-evenly;
  align-items: center;
}
.email .subscribe {
  color: #eaf0ed;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.email .subscribe img {
  margin: 20px;
  width: 40px;
  padding: 20px;
}
.email .form{
  background-color: #eaf0ed;
  display: flex;
  align-items: center;
  
}
.email .form img{

  padding: 16px;
}
.email .form input{
  width: 300px;
  height: 100%;
  background: #eaf0ed;
  border: none;
}
.email .form button{
  background: #ffe180;
  border: none;
  width: 60px;
  height: 100%;
  cursor: pointer;
}

.footer {
  background: #eaf0ed;
}

.footer .container {
  max-width: 920px;
  margin: 0 auto;
}
.footer .info {
  display: flex;
  justify-content: space-between;
  padding: 40px 0px;
}
.footer .info .contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .info .contact img {
  width: 170px;
}
.footer .info .contact ul li {
  color: #3f5d45;
  font-family: Helvetica;
  font-weight: 500;
  list-style: none;
}
.footer .info .contact ul li a {
  text-decoration: none;
  color: #3f5d45;
}
.footer .info .contact ul li a:hover {
  color: #ffe180;
}
.footer .info .slogan {
  writing-mode: vertical-rl;
  font-family: "NSimSun";
  font-weight: bolder;
  letter-spacing: 10px;
  font-size: 36px;
  color: #3f5d45;
}
.footer .links {
  display: flex;
  justify-content: space-between;
}

.footer .links .media img {
  width: 32px;
}
.footer .links .media ul {
  display: flex;
}
.footer .links .media ul li {
 padding: 10px;
 list-style: none;
}
.footer .links .copyright {
  color: #3f5d45;
  font-family: Times;
}
